$menu-color:#f9e68a;
$app-color: #ff8027;
$orange-600: #ea580c;
$border-gray: #cccccc;
$app-white: #ffffff;
$app-black: #100f0f;
$app-black-300: #38383866;
$category-box: #f2f2f2;
$red-500: rgb(255, 9, 9);