@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import './homePage.scss';
@import './typography.scss';

a {
  cursor: pointer;
}



p {
  @include text-mixin($size-regular, $weight-4, $leading-144);
  font-family: $font-nunito !important;
}
 
.product-quantity{
  .ant-input-number .ant-input-number-input{
    text-align: center;
    font-weight: 600;
  }

}