.specialSection{

    background: url('../assets/homeImage/specialSection.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    box-shadow: rgba(255, 255, 255, 0.88) 0px 30px 60px -12px inset, rgba(255, 254, 254, 0.806) 0px 18px 36px -18px inset;
    position: relative;
   z-index: 1;
    &::after{
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.686);
        position: absolute;
        z-index: -1;
    }
}

.contact_section{
    background-image: url('../assets/contact/bg_nhantin.png');
    background-repeat: no-repeat;
    background-size: cover;
}